@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "The Bold Font";
  src: url(../fonts/THEBOLDFONT-FREEVERSION.ttf);
}
@keyframes floater {
  to {
    transform: translateY(-30px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", serif;
  background-color: #fff;
  overflow-x: hidden;
  background: url(../images/trumpBg.jpeg) center no-repeat;
  background-size: cover;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
F h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}

img {
  width: 100%;
}

.button {
  outline: none;
  border: 1px solid #000;
  border-radius: 500px;
  text-transform: uppercase;
  font-family: "Inter", serif;
  color: #000 !important;
  background: transparent;
  text-align: center;
  padding: 12px 24px;
  transition: all ease 0.5s;
}
.button:hover {
  background-color: #ff92b5;
}

.heading-block .badge {
  padding: 0;
  color: #ff92b5;
  font-family: "Inter", serif;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 16px;
}
.heading-block .title {
  font-size: 48px;
  line-height: 69.5px;
  text-transform: capitalize;
}
@media only screen and (max-width: 480px) {
  .heading-block .title {
    font-size: 36px;
    line-height: 40px;
  }
}
.heading-block .desc {
  margin-top: 16px;
  line-height: 24px;
  font-size: 16px;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
@media only screen and (max-width: 480px) {
  #header .header-wrapper .button {
    display: none;
  }
}
#header .header-logo {
  font-family: "The Bold Font";
  font-size: 35px;
}
#header .header-nav {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: unset;
}
#header .header-link-list {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 46px;
  margin-right: 60px;
  transition: all ease-in-out 0.5s;
}
@media only screen and (max-width: 991px) {
  #header .header-link-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #ff92b5;
    justify-content: center;
    transform: translateX(-100%);
    z-index: 200;
  }
  #header .header-link-list.active {
    transform: translateX(0);
  }
}
#header .header-link-list .header-link-item {
  line-height: 24px;
  text-transform: capitalize;
  position: relative;
}
@media only screen and (max-width: 991px) {
  #header .header-link-list .header-link-item {
    font-size: 24px;
    line-height: 28px;
  }
}
#header .header-link-list .header-link-item:hover::before {
  width: 100%;
}
#header .header-link-list .header-link-item::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #000;
  transition: all ease 0.75s;
}
#header .header-link-list .close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  aspect-ratio: 1;
  outline: none;
  border: none;
  background-color: transparent;
  display: none;
}
#header .header-link-list .close-button svg {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  #header .header-link-list .close-button {
    display: block;
  }
}
#header .social-list {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 8px;
  margin-right: 32px;
}
@media only screen and (max-width: 480px) {
  #header .social-list {
    margin-right: 0;
  }
}
#header .social-list .social-item .image {
  display: block;
  width: 32px;
  aspect-ratio: 1;
  overflow: hidden;
  transition: all ease 0.75s;
}
#header .social-list .social-item .image img {
  filter: invert(1);
}
#header .social-list .social-item .image:hover {
  transform: translateY(-10px);
}
#header .menu-button {
  display: none;
  outline: none;
  border: none;
  margin-left: 30px;
  width: 29px;
}
@media only screen and (max-width: 991px) {
  #header .menu-button {
    display: block;
  }
}

#banner {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: unset;
}
#banner .banner-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: unset;
}
#banner .main-title {
  text-align: center;
  margin-bottom: 30px;
}
#banner .banner-content {
  max-width: 550px;
  width: 100%;
}
#banner .heading-block {
  padding: 30px;
  border-radius: 20px;
  background: #011439;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100%;
  border: 2px solid white;
}
#banner .heading-block .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
  font-family: "The Bold Font";
  color: #fff;
}
#banner .heading-block .desc {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  #banner .heading-block .desc {
    max-width: unset;
    text-align: center;
  }
}
#banner .heading-block .form {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
#banner .heading-block .form .input-wrapper {
  width: 100%;
}
#banner .heading-block .form .input-wrapper label {
  color: #fff;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}
#banner .heading-block .form input {
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 10px;
  width: 100%;
  outline: none;
  transition: all ease 0.3s;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
#banner .heading-block .form input::-moz-placeholder {
  color: #fff;
}
#banner .heading-block .form input::placeholder {
  color: #fff;
}
#banner .heading-block .form .btn-submit {
  margin-bottom: 0;
  margin-top: 20px;
  width: 100%;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #e43739;
  color: #fff;
  display: block;
  text-align: center;
  transition: all ease 0.3s;
  font-weight: 700;
  text-transform: uppercase;
}
#banner .heading-block .form .btn-submit:hover {
  background: #9a272e;
}
#banner .heading-block .form .btn-submit[status=disabled] {
  cursor: not-allowed;
  background-color: #f29a9b;
}
#banner .heading-block .form .btn-submit[status=disabled]:hover {
  background: #f29a9b;
}
#banner .task-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  #banner .banner-wrapper {
    flex-direction: column;
    gap: 50px;
  }
}
@media only screen and (max-width: 767px) {
  #banner .task-group {
    grid-template-columns: repeat(1, 1fr);
  }
}